@import "tailwindcss";


@theme {
  --font-logo: "DM", sans-serif; 
  --color-dusty-gray: #DAD7CD;
  --color-light-gray: #F2F1ED;
  --color-olive: #A3B18A;
  --color-green: #588157;
  --color-forest-green: #3A5A40;
  --color-darkest-green: #5A536C;
  
  --tracking-1: 0.06em;
 

}

html, body  { 
  height: 100vh;   
  width: 100vw;  
}

#root{
  height: 100vh;
  width: 100vw;
}



