@import "tailwindcss";




@theme {
  --font-logo: "DM", sans-serif; 
  --color-darkestgreen: #485c11;
  --color-midgreen: #8E9C78;
  --color-coolgreen: #9C9278;
  --color-lightgreen: #DFECC6;
  --color-lightgrey: #7B7E86;
  --color-grey: #454545;
  --color-lightergrey: #929292;
  --color-anothergrey: #6F6F6F;
  --color-customgrey: #E9E9E9;
  --tracking-1: 0.06em;

}

html, body, :root { 
  height: 100vh;   
  width: 100vw;  
}