@import "tailwindcss";

#root {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

select {
  font-size: 1em;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #646cff;
  background-color: #7c9e7269;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

html, body { 
  height: 100vh;   
  width: 100vw; 
  margin: 10px; 
  padding: 10px;
}

@theme {
  --font-display: "DM", sans-serif; 
  --color-darkestgreen: #485C11;
  --color-midgreen: #8E9C78;
  --color-lightgreen: #DFECC6;
}



