@import "tailwindcss";


@theme {
  --font-logo: "DM", sans-serif; 
  --color-darkestgreen: #485c11 ;
  --color-midgreen: #8e9c78 ;
  --color-coolgreen: #9c9278 ;
  --color-lightgreen: #dfecc6 ;
  --color-lightgrey: #7b7e86;
  --color-grey: #454545;
  --color-bggreen: #b4d4a3b8;
  --color-lightergrey: #929292 ;
  --color-anothergrey: #6f6f6f ;
  --color-customgrey: #e9e9e9 ;
  --color-orange-bright: #ffa500 ;

  --color-bar-darkest: #758467 ;
  --color-bar-dark: #819171;
  --color-bar-mid: #9CAF88;
  --color-bar-green: #CBD5C0;
  --color-bar-light: #DFE6DA;
  --tracking-1: 0.06em;

}

html, body{ 
  height: 100vh;   
  width: 100vw;  
}

#root{
  height: 100%;
  width: 100%;
}