@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


html, body, :root { 
  height: 100vh;   
  width: 100vw; 
  margin: 10px; 
  padding: 10px;
}

@theme {
  --font-logo: "DM", sans-serif; 
  --color-darkestgreen: #485C11;
  --color-midgreen: #8E9C78;
  --color-lightgreen: #DFECC6;
  --color-lightgrey: #7B7E86;
  --color-grey: #454545;
  --tracking-1: 0.06em;

}



